.page {
    font-family: 'Inter';
    font-style: normal;
    width: 100%;
    margin: 0 auto;
    padding: 28px 48px 24px;
    height: auto;
    background-color: #2A2C2F;
    box-sizing: border-box;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 1023px) {
    .page {
        padding: 28px 24px 24px;
        width: 100%;
    }
}

@media screen and (max-width: 424px) {
    .page {
        padding: 16px 16px 24px;
        width: 100%;
    }
}