.lead__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 56px auto 0;
    padding: 0;
    object-fit: cover;
    box-sizing: border-box;
}

@media screen and (max-width: 424px) {
    .lead__image {
        margin: 40px auto 0;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        margin: 64px auto 0;
    }
}