.place {
    display: grid;
    max-width: 100%; /*calc(100% - 96px);*/
    grid-template-columns: 1fr 1fr;
    gap: 48px 32px;
    padding: 0;
    margin: 80px 0 0;
    object-fit: cover;
}

@media screen and (max-width: 1023px) {
    .place {
        gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        gap: 32px;
    }
}


